<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zettalith.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup><applicationSettings>
        <Zettalith.Properties.Settings>
            <setting name="MasterVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SFXVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UIVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>720, 480</value>
            </setting>
        </Zettalith.Properties.Settings>
    </applicationSettings>
</configuration>
